header {
	background: url(../src/assets/adopt.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 100vh;
}

.searchContainer {
	border: 2px solid red;
}

.searchForm {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
	input {
		width: 25rem;
		padding: 15px 30px;
		margin: 0 15px;
	}
}

.petContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 50px auto;
	border: 4px solid darkcyan;
	ul {
		text-align: center;
		margin: 30px;
	}
	h3 {
		text-align: center;
	}
}
